.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  grid-template-areas: "login-image-wrapper login-form-wrapper";
}

.login-image-wrapper {
  grid-area: login-image-wrapper;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  grid-template-areas: "back-color side-image";

  .back-color {
    grid-area: back-color;
    display: flex;
    background-color: #A5DF5A;

    .logo-title {
      font-size: 18px;
      font-weight: 600;
      padding-top: 8%;
      position: relative;
    }

    .logo-image {
      height: 30px;
      padding: 1.5rem 0.2rem 1.5rem 1.5rem;
    }

  }

  .side-image {
    background-color: white;
    grid-area: side-image;
  }

}

.login-form-wrapper {
  grid-area: login-form-wrapper;
  align-self: center;
  height: auto;
}

.title-container {
  padding: 0px 0px 30px 0px;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  display: flex;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "username"
  "password"
  "login-buttons"
  "vendor-link"
  "user-link";
}

.username {
  grid-area: username;
  margin: 5%;
  display: flex;
  justify-content: center;
}

.password {
  grid-area: password;
  margin: 5%;
  display: flex;
  justify-content: center;
}

.invalid-cred {
  grid-area: invalid-cred;
  display: flex;
  justify-content: center; 
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;

  .error-msg {
    color: red !important;
  }
}

.login-buttons {
  grid-area: login-buttons;
  display: flex;
  justify-content: center;

  .user-login {
    height: 45px;
    width: 30%;
    padding: 5px;
    background-color: #A5DF5A !important;
    color: black !important;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3rem;
  }
  
  .user-login:hover {
    background-color: black !important;
    color: white !important;
  }

  .vendor-login {
    height: 45px;
    width: 30%;
    padding: 5px;
    background-color: black !important;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3rem;
  }
  
  .vendor-login:hover {
    color: white !important;
    background-color: #A5DF5A !important;
    color: black !important;
  }
}

.vendor-link {
  grid-area: vendor-link;
  display: flex;
  justify-content: center; 
  font-weight: 600;
  cursor: pointer;
  margin-top: 25px;
} 

.vendor-link:hover {
  text-decoration: underline;
}

.user-link {
  grid-area: user-link;
  display: flex;
  justify-content: center; 
  font-weight: 600;
  color: #A5DF5A !important;
  cursor: pointer;
  margin-top: 25px;
}

.user-link:hover {
  text-decoration: underline;
}



.buttons {
  display: flex;
  justify-content: center;

  .user-button {
    height: 45px;
    width: 30%;
    padding: 5px;
    margin-right: 15px;
    background-color: #A5DF5A !important;
    color: black !important;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3rem;
  }
  
  .user-button:hover {
    background-color: black !important;
    color: white !important;
  }
  
  .ev-button {
    height: 45px;
    width: 30%;
    padding: 5px;
    background-color: black !important;
    color: white !important;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3rem;
  }
  
  .ev-button:hover {
    color: black !important;
    background-color: #A5DF5A !important;
  }
}

.login-image {
  height: 25rem;
  position: absolute;
  top: 18%;
  left: 3%;
  z-index: 10;
}