<mat-toolbar class="mat-elevation-z8 toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon> menu </mat-icon>
  </button>
    <img class="logo-image" src="assets/logo_1.png" alt="Logo Image">
    <span class="logo-title">Charge EV</span>
  </mat-toolbar>
  
  <mat-sidenav-container >
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <img class="avatar mat-elevation-z8" src="assets/av1.png" />
        <h4 class="name">{{sharedService.loggedInUser.username | titlecase}}</h4>
  
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="pageChange('Booking')">
            <mat-icon>date_range</mat-icon>
            <span>Book Slot</span>
        </button>
        <button mat-button class="menu-button" (click)="pageChange('History')">
          <mat-icon>history</mat-icon>
          <span>Booking History</span>
        </button>
        <button mat-button class="menu-button" (click)="pageChange('Profile')">
            <mat-icon>perm_contact_calendar</mat-icon>
            <span>Profile</span>
        </button>
  
        <mat-divider></mat-divider>
  
        <button mat-button class="menu-button mt-5" (click)="logout()">
          <mat-icon>arrow_back_ios</mat-icon>
          <span>Logout</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
          @if(showBooking) {
            <app-user-booking-page (showConfirmation)="getConfirmation($event)"></app-user-booking-page>
          }
          @if(showHistory) {
            <app-user-booking-history></app-user-booking-history>
          }
          @if(showProfile) {
            <app-profile></app-profile>
          }
          @if(showConfirmationPage) {
            <app-confirmation-page [isUser]="true"></app-confirmation-page>
          }
            
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>