@import '../../../variable.scss';

.station-container {
  padding: 20px;
}

.main-heading {
    font-size: 24px;
    font-weight: bold;
    font-family: $font;
    margin-bottom: 20px;
  }

  .form-container {
    padding: 20px;
    background-color: #f9f9f9;
    height: 100vh;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }

  .booking-form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "brand"
      "model"
      "battery-status"
      "start-grid"
      "submit";
  }

  .payment-form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "Type"
      "qr-img"
      "hint-text"
      "card-num"
      "start-grid"
      "submit";
  }

  .brand {
    grid-area: brand;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 55%;
  }

  .model {
    grid-area: model;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 55%;
  }

  .slot {
    grid-area: slot;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 55%;
  }

  .battery-status  {
    grid-area: battery-status;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 55%;
  }

  .percent {
    position: relative;
    right: 100%;
  }

  .card-num {
    grid-area: card-num;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 55%;
  }

  .start-date {
    grid-area: start-date;
    display: grid;
    margin-right: 1%;
  }

  .start-time {
    grid-area: start-time;
    display: grid;
    margin-left: 1%;
  }

  .end-time {
    grid-area: end-time;
    display: grid;
    margin-right: 1%;
  }

  .start-grid {
    display: grid;
    width: 55%;
    grid-area: start-grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas:
      "start-date start-time"
      "end-time ."
  }

  .Type {
    grid-area: Type;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 55%;
  }

  .qr-img {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .hint-text {
    display: grid;
    grid-area: hint-text;
    font-family: $font !important;
  }

  .spinner {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    align-items: center;
    gap: 30px;
  }

  .margin-10 {
    margin: 5% 0% 5% 0%;
  }

  .submit {
    grid-area: submit;
    display: grid;
    margin: 1.5% 0% 1.5% 40%;
    width: 15%;

    .submit-button {
      border-radius: 36px;
      border: 2px solid #11998e !important;
      background: white !important;
      color: #11998e !important;
      font-family: $font;
      font-weight: 500;
    }

    .submit-button:hover {
      border: 2px solid #11998e !important;
      background: #11998e !important;
      color: white !important;
    }
  }





  ::ng-deep .mat-mdc-dialog-container .mdc-dialog__container {
    display: flex;
    justify-content: center;
  }

  ::ng-deep .ngx-mat-timepicker-face{
    display: flex !important;
    justify-content: center !important;
  }

  ::ng-deep .mat-toolbar.mat-primary {
    background-color:  #11998e !important;
  } 

  ::ng-deep .mat-mdc-mini-fab {
    background-color:  #11998e !important;
  }

  ::ng-deep .mat-unthemed {
    background-color: transparent !important;
  }

  .custom-modalbox {
    min-width: 65rem !important;
    position: relative !important;
    height: 93vh !important;
    left: 0% !important;
  }

  ::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #11998e !important;
  }

  ::ng-deep .mat-mdc-button:not(:disabled) {
    color: #11998e !important;
  }

  