<div class="booking-container">
    <h1 class="main-heading">Book Slot</h1>
    <h3 class="sub-heading">Search by City or Pincode</h3>


    <form [formGroup]="searchForm">
        <div class="booking-search">
            <div class="city">
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Enter City" formControlName="city" (input)="inputCity()">
                </mat-form-field>
            </div>

            <div class="or">
                <span>OR</span>
            </div>
            
            <div class="Zip">
                <mat-form-field>
                    <mat-label>Pincode</mat-label>
                    <input matInput placeholder="Enter Pincode" formControlName="zip" (input)="inputZip()">
                </mat-form-field>
            </div>
            <div class="search">
                <button class="submit-button" mat-button [disabled]="!searchForm.valid" (click)="retriveData()">Search</button>
            </div>
            <div class="clear">
                <button class="clear-button" mat-button [disabled]="!searchForm.valid" (click)="clearData()">Clear</button>
            </div>
        </div>
    </form>


    <mat-accordion class="example-headers-align">
        @for (item of stationDetails; track item;  let i = $index) {
        <mat-expansion-panel class="expansion-pannel" [ngClass]="{'border-red': i%2 ==0 , 'border-green': i%2 !=0}" hideToggle>
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title> {{item.stationName | uppercase}} </mat-panel-title>
                <mat-panel-description>
                    <button mat-raised-button class="directions-button" (click)="openGoogleMaps(item)">
                        Get Directions
                        <mat-icon>directions</mat-icon>
                      </button>
                    <button mat-raised-button class="edit-button" (click)="bookSlot(item)">Book</button>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h3 class="sub-heading-1">Vendor Details</h3>

            <div class="data-line">
                <div class="left">Vendor Name</div>
                <div class="right">{{item.vendorName}}</div>
            </div>
            <div class="data-line">
                <div class="left">E mail</div>
                <div class="right">{{item.email}}</div>
            </div>
            <div class="data-line">
                <div class="left">Phone</div>
                <div class="right">{{item.phone}}</div>
            </div>
            <div class="data-line">
                <div class="left">Address</div>
                <div class="right">{{item.landmark}}</div>
            </div>
            <div class="data-line">
                <div class="left">City</div>
                <div class="right">{{item.city}}</div>
            </div>
            <div class="data-line">
                <div class="left">State</div>
                <div class="right">{{item.state}}</div>
            </div>
            <div class="data-line">
                <div class="left">Pin code</div>
                <div class="right">{{item.pincode}}</div>
            </div>

            <h3 class="sub-heading-1">Station Details</h3>

            <div class="data-line">
                <div class="left">Number of Slots</div>
                <div class="right">{{item.slot}}</div>
            </div>
            <div class="data-line">
                <div class="left">Maximum Capacity</div>
                <div class="right">{{item.capacity}}</div>
            </div>
            <div class="data-line">
                <div class="left">Vehical Type</div>
                <div class="right">{{item.vType}}</div>
            </div>
            <div class="data-line">
                <div class="left">Adapter Type</div>
                <div class="right">
                    @for (slot of item.sl; track $index) {
                        <div class="multi-line">
                            {{slot.slotType}} <br>
                        </div>
                    }
                </div>
            </div>

        </mat-expansion-panel>
        } @empty {
            <div class="content">
                <p>No station Details</p>
            </div>
        }
    </mat-accordion>
</div>