@import '../../../variable.scss';

.booking-container {
    padding: 20px;
  
    .main-heading {
      font-size: 24px;
      font-weight: bold;
      font-family: $font;
      margin-bottom: 5px;
    }

    .sub-heading {
      font-size: 12px;
      font-weight: 600;
      font-family: Poppins, sans-serif;
      margin-bottom: 25px;
    }

    .expansion-pannel {
      margin-bottom: 3%;
    }
    .expansion-header {
      height: 5rem;
      font-size: 20px;
      font-weight: bold;
      font-family: $font !important;
    }
}

.border-red {
  border-left: 10px solid red !important;
  border-radius: 15px;
}

.border-green {
  border-left: 10px solid #11998e !important;
  border-radius: 15px;
}

.edit-button {
  border-radius: 36px;
  margin-left: 85%;
  border: 2px solid #11998e !important;
  background: white !important;
  color: #11998e !important;
  font-family: $font;
  font-weight: 500;
  width: 15%;
}

.edit-button:hover {
  border: 2px solid #11998e !important;
  background: #11998e !important;
  color: white !important;
}

.clear-button {
    border-radius: 36px;
    margin-left: 15%;
    border: 2px solid #11998e !important;
    background: white !important;
    color: #11998e !important;
    font-family: $font;
    font-weight: 500;
    width: 75%;
    margin-top: 2%;
  }
  
  .clear-button:hover {
    border: 2px solid #11998e !important;
    background: #11998e !important;
    color: white !important;
  }

.submit-button {
    border-radius: 36px;
    margin-left: 15%;
    border: 2px solid #11998e !important;
    background: #11998e !important;
    color: white !important;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    width: 75%;
    margin-top: 2%;
  }
  
  .submit-button:hover {
    border: 2px solid #11998e !important;
    background: white !important;
    color: #11998e !important;
  }

  .submit-button:disabled {
    border: 2px solid #d8d8d8 !important;
    background: #d8d8d8 !important;
    color: gray !important;
  }

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.data-line {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-family: $font;
  margin-bottom: 2%;

  .left {
    flex: 1;
    //font-weight: bold;
  }

  .right {
    flex: 2;
  }

  .multi-line {
    display: contents;
    line-height: 1.25;
  }
}

.sub-heading-1 {
  font-size: 14px;
  font-weight: 800;
  font-family: Poppins, sans-serif;
  margin-bottom: 25px;
}


.booking-search {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "city or Zip search clear";
}

.city{
    grid-area: city;
    display: grid;
}

.or {
    grid-area: or;
    margin-top: 52%;
    margin-left: 20%;
    display: grid;
}

.Zip{
    grid-area: Zip;
    display: grid;
}

.search {
    grid-area: search;
    display: grid;
}

.clear {
    grid-area: clear;
    display: grid;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 100%;
    font-family: $font !important;
    color: lightgray;
}
